@import "common/normalize.styl"
@import "common/variables.styl"
@import "common/base.styl"

// 首页
@import "components/index/index_nav.styl"
@import "components/index/index_reg_new.styl"
@import "components/index/index_sns.styl"

// 注册、登录、密码修改
@import "components/user/header.styl"
@import "components/user/footer.styl"
@import "components/user/register.styl"
@import "components/user/login.styl"
@import "components/user/resetpassword.styl"

// 公共
@import "components/common/db_global_nav.styl"
