@import "common/normalize.styl"
@import "common/variables.styl"
@import "common/base.styl"

// 首页
@import "pages/index"

// 注册
@import "pages/register.styl"

// 登录
@import "pages/login.styl"

// 密码重置
@import "pages/resetpassword.styl"

// 用户主页
@import "pages/user.styl"

// 豆瓣电影
@import "pages/movie.styl"
