@import "common/normalize.styl"
@import "common/variables.styl"
@import "common/base.styl"

// 首页
@import "components/index/index_nav.styl"
@import "components/index/index_reg_new.styl"

// 注册和登录
@import "components/user/header.styl"
@import "components/user/footer.styl"
@import "components/user/register.styl"
@import "components/user/login.styl"
