footer.account-footer.clearfix
  .footer-inner
    span.f-left &copy;&nbsp;2005&nbsp;-&nbsp;2017&nbsp;douban.com, all rights reserved
    span.f-right
      a(href="") 关于豆瓣
      | ·
      a(href="") 在豆瓣工作
      | ·
      a(href="") 联系我们
      | ·
      a(href="") 免责声明
      | ·
      a(href="") 帮助中心
      | ·
      a(href="") 开发者
      | ·
      a(href="") 移动应用
      | ·
      a(href="") 豆瓣广告
