// ==========================================
// Variables
// ==========================================


// Colors
// ==========================================
$blue                             =        #336699
$white                            =        #FFFFFF
$black                            =        #111111

// Base
// ==========================================

// Font Families
$font-family-base                 =        Helvetica,Arial,sans-serif

// Font Size
$font-size-base                   =        12px

// Line Height
$global-line-height               =        1.62

// Global Text Color
$global-font-color                =        $black

// Global Background Color
$global-bg-color                  =        $white

// Global Link Color
$global-link-color                =        $blue
$global-link-hover-color          =        $white
