<h1>
  <a href="#">豆瓣</a>
</h1>
<div class="index-nav-search">
  <form action="" method="get">
    <span class="inp">
      <input type="text" placeholder="书籍、电影、音乐、小组、小站、成员">
    </span>
    <span class="btn">
      <input type="subimt" value="搜索">
    </span>
  </form>
</div>
<div class="index-nav-link">
  <ul>
    <li><a href="" target="_blank" class="link-book">豆瓣图书</a></li>
    <li><a href="" target="_blank" class="link-movie">豆瓣电影</a></li>
    <li><a href="" target="_blank" class="link-music">豆瓣音乐</a></li>
    <li><a href="" target="_blank" class="link-group">豆瓣小组</a></li>
    <li><a href="" target="_blank" class="link-events">豆瓣同城</a></li>
    <li><a href="" target="_blank" class="link-fm">豆瓣FM</a></li>
    <li><a href="" target="_blank" class="link-something">豆瓣东西</a></li>
    <li><a href="" target="_blank" class="link-market">豆瓣市集</a></li>
  </ul>
</div>
