<div class="index-nav clearfix">
  <div class="index-nav-link">
    <ul>
      <li><a href="" target="_blank" class="link-book">读书</a></li>
      <li><a href="" target="_blank" class="link-movie">电影</a></li>
      <li><a href="" target="_blank" class="link-music">音乐</a></li>
      <li><a href="" target="_blank" class="link-group">小组</a></li>
      <li><a href="" target="_blank" class="link-events">同城</a></li>
      <li><a href="" target="_blank" class="link-fm">FM</a></li>
      <li><a href="" target="_blank" class="link-something">东西</a></li>
      <li><a href="" target="_blank" class="link-market">市集</a></li>
    </ul>
  </div>
  <h1 class="index-logo">
    <a href="#"><span class="logo-chinese">豆瓣</span><span class="logo-english">d<i class="blue">o</i><i class="yellow">u</i>b<i class="blue">a</i><i class="yellow">n</i></span></a>
  </h1>
  <div class="index-nav-search">
    <form action="" method="get">
      <span class="inp">
        <input type="text" placeholder="书籍、电影、音乐、小组、小站、成员">
      </span>
      <span class="btn">
        <button type="submit" name="button">
          <span class="ygames-search"></span>
        </button>
      </span>
    </form>
  </div>
</div>
