<div class="global-nav">
  <div class="bd clearfix">
    <div class="top-nav-info">
      {% if user %}
        <ul>
          <li>
            <a href="#" class="top-nav-doumail-link">豆邮</a>
          </li>
          <li class="nav-user-account">
            <a href="javascript:void(0)" class="btn-more">
              <span>{{ user.nickname }}的帐号</span>
              <span class="arrow"></span>
            </a>
            <div class="more-items">
              <ul>
                <li><a href="">个人主页</a></li>
                <li><a href="">我的订单</a></li>
                <li><a href="">我的钱包</a></li>
                <li><a href="">帐号管理</a></li>
                <li><a href="/user/signout">退出</a></li>
              </ul>
            </div>
          </li>
        </ul>
      {% else %}
        <a href="/login">登录</a>
        <a href="/register">注册</a>
      {% endif %}
    </div>
    {% if user %}
      <div class="top-nav-reminder">
        <a href="#" class="link-remind">提醒</a>
        <div class="more-items">
          <div class="bd">
            <p>加载中...</p>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="top-nav-doubanapp">
      <a href="javascript:void(0)" class="link-doubanapp">下载豆瓣客户端</a>
      <div class="more-items">
        <p class="appintro-title">豆瓣</p>
        <p class="slogan">我们的精神角落</p>
        <p class="qrcode">扫码关注我一下咯</p>
        <div class="download">
          <a href="#">iPhone</a>
          <span>·</span>
          <a href="#">Android</a>
        </div>
      </div>
    </div>
    <div class="global-nav-items">
      <ul>
        <li><a href="" class="on">豆瓣</a></li>
        <li><a href="">读书</a></li>
        <li><a href="">电影</a></li>
        <li><a href="">音乐</a></li>
        <li><a href="">同城</a></li>
        <li><a href="">小组</a></li>
        <li><a href="">阅读</a></li>
        <li><a href="">FM</a></li>
        <li><a href="">东西</a></li>
        <li><a href="">市集</a></li>
        <li><a href="">更多</a></li>
      </ul>
    </div>
  </div>
</div>
