// =====================
// 变量Variables
// =====================


// 颜色Color
// =====================
@doubanGreenColor: #228a31;
@doubanBlueColor: #1d8ec9;
@doubanYellowColor: #f7bf86;
@indexNavReadLogoColor: #584029;
@indexNavMovieLogoColor: #278dce;
@indexNavMusicLogoColor: #f37f00;
@indexNavGroupLogoColor: #0f959d;
@indexNavEventsLogoColor: #e85205;
@indexNavFmLogoColor: #9ad6c5;
@indexNavSomethingLogoColor: #db5140;
@indexNavMarketLogoColor: #539200;

// 全局定义
// =====================
@globalBgColor: #fff;
@globalFontSize: 12px;
@globalFontFamily: Helvetica,Arial,sans-serif;
@globalLineHeight: 1.62;
@globalTextColor: #111;
