.index-sns
  .wrapper.clearfix
    .index-sns-advertising
      img(src="dist/img/index/index_advertising.jpg" alt="广告图片" width="950" height="90")
    .index-sns-side
      .app-moment
        a(href="#" target="_blank")
          img(src="dist/img/index/index_app_moment.jpg" alt="一刻app" width="265")
      h2
        | 线上活动&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;(
        span.p1
          a(href="" target="_blank") 更多
        | )
      .online
        ul
          li
            .title
              a(href="") 来一句王家卫式的话
            .desc
              | 时间：2月25日 - 5月24日
              span 1388人参加
          li
            .title
              a(href="") 给我你的照片，让我为你画张肖像。2017年鸡年大吉有奖版吧
            .desc
              | 时间：2月8日 - 5月7日
              span 1486人参加
    .index-sns-main
      .mod.clearfix
        h2
          | 热点内容&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;(
          span.p1
            a(href="" target="_blank") 更多
          | )
        .album
          ul
            li
              .pic
                a(href="")
                  img(src="dist/img/index/hot_content_1.webp" width="170" alt="")
              a(href="") 纽约纽约
              span 64张照片
            li
              .pic
                a(href="")
                  img(src="dist/img/index/hot_content_2.webp" width="170" alt="")
              a(href="") 水城春夜
              span 26张照片
            li
              .pic
                a(href="")
                  img(src="dist/img/index/hot_content_3.webp" width="170" alt="")
              a(href="") 来自有达的爱
              span 51张照片
            li
              .pic
                a(href="")
                  img(src="dist/img/index/hot_content_4.webp" width="170" alt="")
              a(href="") 随便什么
              span 44张照片
        .notes
          ul
            li.first
              .title
                a(href="") 烧荒&nbsp;·&nbsp;南方&nbsp;·&nbsp;看电视，一块薯片掉落
              .author 王子瓜的日记
              p.desc 烧荒 坐进表哥的车子，我要离开了。像一柄宽刀，冬日晴朗的天空 把乡野的轮廓挑剔...
            li
              a(href="") 明星有隐私权吗？
            li
              a(href="") 又一只毛色从未见过的田园猫，远看差点以为是美短
            li
              a(href="") 摄影有温度 | 这届春季摄影大赛的作品好像有点厉害啊！
            li
              a(href="") 楚天啊，请留步——2017豆瓣春季摄影大赛评选结果公布
            li
              a(href="") 去清迈学厨
            li
              a(href="") 每次燃烧都在点燃人名币，还是忍不住买买买。
            li
              a(href="") 别让野餐与新鲜无关！只用两小时，打造一场完美的美食新体验
            li
              a(href="") 江山美人
            li
              a(href="") 北影节观影|从大卫·林奇开始才是正确的起飞方式
