<div class="index-nav">
  <div class="index-nav-links">
    <ul>
      <li class="item"><a href="" target="_blank" class="link-item link-book">豆瓣读书</a></li>
      <li class="item"><a href="" target="_blank" class="link-item link-movie">豆瓣电影</a></li>
      <li class="item"><a href="" target="_blank" class="link-item link-music">豆瓣音乐</a></li>
      <li class="item"><a href="" target="_blank" class="link-item link-group">豆瓣小组</a></li>
      <li class="item"><a href="" target="_blank" class="link-item link-events">豆瓣同城</a></li>
      <li class="item"><a href="" target="_blank" class="link-item link-fm">豆瓣FM</a></li>
      <li class="item"><a href="" target="_blank" class="link-item link-something">豆瓣东西</a></li>
      <li class="item"><a href="" target="_blank" class="link-item link-market">豆瓣市集</a></li>
    </ul>
  </div>
  <h1 class="index-logo">
    <a class="logo" href="#">豆瓣</a>
  </h1>
  <div class="index-nav-search">
    <form action="" method="get">
      <span class="inp">
        <input type="text"  maxlength="60" size="12" placeholder="书籍、电影、音乐、小组、小站、成员" name="q" autofocus="off">
      </span>
      <span class="btn">
        <input type="submit" value="搜索">
      </span>
    </form>
  </div>
</div>
