.index-nav
  .index-nav-links
    ul
      li.item
        a.link-item.link-book(target="_blank", href="/book") 豆瓣读书
      li.item
        a.link-item.link-movie(target="_blank", href="/movie") 豆瓣电影
      li.item
        a.link-item.link-music(target="_blank", href="/music") 豆瓣音乐
      li.item
        a.link-item.link-group(target="_blank", href="/group") 豆瓣小组
      li.item
        a.link-item.link-events(target="_blank", href="/events") 豆瓣同城
      li.item
        a.link-item.link-fm(target="_blank", href="/fm") 豆瓣FM
      li.item
        a.link-item.link-something(target="_blank", href="/something") 豆瓣东西
      li.item
        a.link-item.link-market(target="_blank", href="/market") 豆瓣市集
  h1.index-nav-logo
    a.logo(href="#") 豆瓣
  .index-nav-search
    form(method="GET")
      .search-inp
        input(type="text" placeholder="书籍、电影、音乐、小组、小站、成员")
      .search-btn
        button(type="submit") 搜索
