{% extends '../layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
  <div class="wrapper">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>邮箱</th>
          <th>名号</th>
          <th>地址</th>
          <th>手机号</th>
          <th>创建时间</th>
          <th>查看</th>
          <th>删除</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr id="user-id-{{ user.id }}">
            <td>{{ user.email }}</td>
            <td>{{ user.nickname }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ moment(user.meta.createAt).format('YYYY-MM-DD, HH:mm:ss') }}</td>
            <td>
              <a href="/user/{{ user.id }}" target="_blank">查看</a>
            </td>
            <td>
              <button class="btn btn-danger del" type="button" data-id="{{ user.id }}">删除</button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <script src="../js/admin/userlist.js" charset="utf-8"></script>
{% endblock %}
