extends ../layout

block content
  .wrapper(style="margin-top: 50px")
    h3
      span.glyphicon.glyphicon-tree-deciduous
      | 豆瓣电影录入
    .notification-info(style="width: 100%; height: 50px;")
      if error
        p #{error}
    .form-wrapper
      form.form-horizontal(method="POST")
        .form-group
          label.col-md-2.control-label(for="movie_douban_id") 豆瓣同步
          .col-md-6
            input#movie_douban_id.form-control(type="text" name="movie_douban_id")
          .col-md-2
            button#movie_douban_btn.btn.btn-primary(type="button") 同步
        .form-group
          label.col-md-2.control-label(for="movie_title") 电影名称
          .col-md-6
            input#movie_title.form-control(type="text" name="movie_title")
        .form-group
          label.col-md-2.control-label(for="movie_original_title") 电影原名
          .col-md-6
            input#movie_original_title.form-control(type="text" name="movie_original_title")
        .form-group
          label.col-md-2.control-label(for="movie_year") 上映年份
          .col-md-6
            input#movie_year.form-control(type="text" name="movie_year")
        .form-group
          label.col-md-2.control-label(for="movie_directors") 导演
          .col-md-6
            input#movie_directors.form-control(type="text" name="movie_directors")
        .form-group
          label.col-md-2.control-label(for="movie_writers") 编剧
          .col-md-6
            input#movie_writers.form-control(type="text" name="movie_writers")
        .form-group
          label.col-md-2.control-label(for="movie_casts") 主演
          .col-md-6
            input#movie_casts.form-control(type="text" name="movie_casts")
        .form-group
          label.col-md-2.control-label(for="movie_categories") 类型
          .col-md-6
            input#movie_categories.form-control(type="text" name="movie_categories")
        .form-group
          label.col-md-2.control-label(for="movie_countries") 制片国/地区
          .col-md-6
            input#movie_countries.form-control(type="text" name="movie_countries")
        .form-group
          label.col-md-2.control-label(for="movie_languages") 语言
          .col-md-6
            input#movie_languages.form-control(type="text" name="movie_languages")
        .form-group
          label.col-md-2.control-label(for="movie_pubdate") 上映日期
          .col-md-6
            input#movie_pubdate.form-control(type="text" name="movie_pubdate")
        .form-group
          label.col-md-2.control-label(for="movie_durations") 片长
          .col-md-6
            input#movie_durations.form-control(type="text" name="movie_durations")
        .form-group
          label.col-md-2.control-label(for="movie_aka") 又名
          .col-md-6
            input#movie_aka.form-control(type="text" name="movie_aka")
        .form-group
          label.col-md-2.control-label(for="movie_images") 海报
          .col-md-6
            input#movie_images.form-control(type="text" name="movie_images")
        .form-group
          label.col-md-2.control-label(for="movie_summary") 简介
          .col-md-6
            textarea#movie_summary.form-control(type="text" name="movie_summary")
        .form-group
          .col-md-offset-2.col-md-5
            button.btn.btn-default(type="submit") 录入
          .col-md-5
            a.btn.btn-primary(href="/admin") 返回
