extends ../layout

block content
  .container
    .row
      a.btn.btn-default(href="category/create") 分类录入
      a.btn.btn-default(href="categorylist") 分类列表
      a.btn.btn-default(href="game/create") 游戏录入
      a.btn.btn-default(href="gamelist") 游戏列表