{% extends '../layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
  <div class="wrapper">
    {% include '../components/user/header.html' %}
    <div class="user-content clearfix">
      <h1>重设密码</h1>
      <div class="resetpassword">
        <form method="post">
          <div class="item">
            <label>帐号</label>
            <input type="text" class="basic-input" name="email" id="email" placeholder="邮箱/手机号">
            <span class="validate-option" style="display: none">请输入注册帐号的Email地址或手机号码</span>
            <span class="validate-error" style="display: none"></span>
          </div>
          <div class="item">
            <label>旧密码</label>
            <input type="password" class="basic-input" name="old_password">
          </div>
          <div class="item">
            <label>新密码</label>
            <input type="password" class="basic-input" name="new_password">
          </div>
          <div class="item-error">
            {% if error %}
              {{ error }}
            {% endif %}
          </div>
          <div class="item">
            <label>&nbsp;</label>
            <button type="submit" class="reset-passowrd-btn">重设密码</button>
          </div>
        </form>
      </div>
      <div class="aside">
        <p>> 还没有豆瓣帐号？<a href="/register">立即注册</a></p>
      </div>
    </div>
    {% include '../components/user/footer.html' %}
  </div>

  <script src="js/resetpassword.js" charset="utf-8"></script>
{% endblock %}
