extends ../layout

block content
  .wrapper
    include ../components/account/header.jade
    .resetpassword-wrapper.clearfix
      h1 重设密码
      .resetpassword-form
        form(method="POST")
          .item
            label 帐号
            input#reset_password_email.basic-input(type="text" name="email" placeholder="邮箱/手机号")
            span.validate-option(style="display: none") 请输入注册帐号的Email地址或手机号码
            span.validate-error(style="display: none") 
          .item
            label 旧密码
            input.basic-input(type="password" name="old_password")
          .item
            label 新密码
            input.basic-input(type="password" name="new_password")
          .item-error
            if error
              p #{error}
          .item
            label &nbsp;
            button.reset-passowrd-btn(type="submit") 重设密码
      .resetpassword-aside
        p &gt;&nbsp;还没有豆瓣帐号？
          a(href="/register") 立即注册
    include ../components/account/footer.jade  
