extends ../layout

block content
  .signinerror-box
    h3 宝宝，请先登录吧！！
    p &nbsp;
    p &nbsp;
    p#signinerror 30秒后自动转入首页！！
    p &nbsp;
    p &nbsp;
    a.btn.btn-default(href='signin') 转入登录页
  script(src="../js/signinerror.js")