.login-wrapper
  margin-bottom: 40px
  h1
    padding-bottom: 30px
  .login-form
    float: left
    width: 590px
    margin-bottom: 40px
    min-height: 300px
    .item-error
      margin-left: 75px
      color: #fe2617
      height: 20px
      line-height: 20px
    .item-right
      text-align: right
      width: 287px
      a:hover
        background-color: #039
    .item
      clear: both
      margin: 0 0 15px
      label
        display: inline-block
        float: left
        margin-right: 15px
        text-align: right
        width: 60px
        font-size: 14px
        line-height: 30px
        vertical-align: baseline
      .basic-input
        width: 200px
        padding: 5px
        height: 18px
        font-size: 14px
        vertical-align: middle
        border-radius: 3px
        border: 1px solid #c9c9c9
        box-sizing: content-box
      .small
        width: 100px
      .get-code-btn
        cursor: pointer
        background-color: #fff
        border: 1px solid #c9c9c9
        font-size: 13px
        padding: 6px 15px
        border-radius: 3px
        vertical-align: middle
      .remember
        cursor: pointer
        display: inline
        width: auto
        text-align: left
        font-size: 12px
        float: none
        margin: 0
        color: #666
        font-weight: normal
        input
          margin-top: -1px
          margin-right: 4px
        a:hover
          background-color: #039
      .login-submit-btn
        cursor: pointer
        color: #fff
        background-color: #3fa156
        border: 1px solid #528641
        font-size: 14px
        font-weight: bold
        padding: 6px 26px
        border-radius: 3px
    .item-3rd
      padding: 5px 0
      width: 200px
      margin: 20px 0 0 75px
      border-top: 1px solid #eee
      border-bottom: 1px solid #eee
      font-size: 12px
      label
        width: auto
        margin: 0
        color: #999
        line-height: 1.5
        font-size: 12px
      img
        margin: 0 5px
        vertical-align: middle
  .login-aside
    float: right
    width: 310px
    color: #666
    li
      display: block
      padding-bottom: 1em
      a:hover
        background-color: #039
