.resetpassword-wrapper
  margin-bottom: 40px
  .resetpassword-form
    float: left
    width: 590px
    margin-right: 50px
    padding-bottom: 1em
    .item-error
      margin-left: 75px
      margin-bottom: 10px
      color: #fe2617
      height: 20px
      line-height: 20px
    .item
      clear: both
      margin: 15px 0
      label
        display: inline-block
        float: left
        margin-right: 15px
        text-align: right
        width: 60px
        font-size: 14px
        line-height: 30px
        vertical-align: baseline
      .basic-input
        width: 200px
        padding: 5px
        height: 18px
        font-size: 14px
        vertical-align: middle
        border-radius: 3px
        border: 1px solid #c9c9c9
        box-sizing: content-box
      .reset-passowrd-btn
        cursor: pointer
        color: #fff
        background-color: #3fa156
        border: 1px solid #528641
        font-size: 14px
        font-weight: bold
        padding: 6px 26px
        border-radius: 3px
      .validate-option,.validate-error
        padding-left: 10px
        background: url('../../../dist/img/account/account_tips_arrow.gif') no-repeat
      .validate-option
        background-position: left 3px
        color: #808080
      .validate-error
        background-position: left -52px
        color: #fe2617
  .resetpassword-aside
    float: right
    width: 310px
    color: #666
    p
      margin: 0
    a:hover
      background-color: #039
