.user-footer
  width: 950px
  margin: 0 auto 40px
  overflow: hidden
  .footer-inner
    padding-top: 6px
    color: #999
    border-top: 1px dashed #ddd
    a
      cursor: pointer
      &:hover
        background-color: #039
