h1
  padding-bottom: 30px
.login
  float: left
  width: 590px
  margin-bottom: 40px
  min-height: 300px
  .item-error
    margin-left: 75px
    .error
      color: #fe2617
      margin: 0
  .item-right
    text-align: right
    width: 287px
    a:hover
      background-color: #039
  .item
    clear: both
    margin: 0 0 15px
    label
      display: inline-block
      float: left
      margin-right: 15px
      text-align: right
      width: 60px
      font-size: 14px
      line-height: 30px
      vertical-align: baseline
    .basic-input
      width: 200px
      padding: 5px
      height: 18px
      font-size: 14px
      vertical-align: middle
      border-radius: 3px
      border: 1px solid #c9c9c9
    .remember
      cursor: pointer
      display: inline
      width: auto
      text-align: left
      font-size: 12px
      float: none
      margin: 0
      color: #666
      a:hover
        background-color: #039
    .btn-submit
      cursor: pointer
      color: #fff
      background-color: #3fa156
      border: 1px solid #528641
      font-size: 14px
      font-weight: bold
      padding: 6px 26px
      border-radius: 3px
  .item-3rd
    padding: 5px 0
    width: 200px
    margin: 20px 0 0 75px
    border-top: 1px solid #eee
    border-bottom: 1px solid #eee
    font-size: 12px
    label
      width: auto
      margin: 0
      color: #999
      line-height: 1.5
      font-size: 12px
    img
      margin: 0 5px
      vertical-align: middle
.aside
  float: right
  width: 310px
  color: #666
  li
    display: block
    padding-bottom: 1em
    a:hover
      background-color: #039
