.user-content
  margin-bottom: 40px;
  .register
    float: left
    width: 590px
    margin-right: 50px
    padding-bottom: 1em
    .register-form
      position: relative
      left: 0
      top: 0
      .item
        clear: both
        margin: 15px 0
        label
          display: inline-block
          float: left
          width: 60px
          margin-right: 15px
          text-align: right
          font-size: 14px
          line-height: 30px
          vertical-align: middle
        .basic-input
          width: 200px
          height: 18px
          padding: 5px
          font-size: 14px
          border-radius: 3px
          border: 1px solid #c9c9c9
        .loc
          font-size: 12px
          line-height: 30px
          em
            font-style: normal
            color: #808080
            strong
              font-weight: normal
              color: #111111
          a
            &:hover
              background-color: #039
        .phone-input
          position: relative
          display: table
          width: 210px
          height: 28px
          padding: 0
          font-size: 0
          border-radius: 3px
          border: 1px solid #c9c9c9
          span
            text-align: center
            padding: 0 7px
            cursor: pointer
            color: #494949
            white-space: nowrap
            line-height: 28px
            &::after
              content: ''
              display: inline-block
              height: 15px
              border-right: 1px solid #ccc
              vertical-align: middle
              margin-left: 7px
          span,div,input
            font-size: 14px
            display: table-cell
            vertical-align: top
          input[type="text"]
            padding: 0 7px 0 0
            border: none
            height: 100%
            width: 100%
            box-sizing: border-box
          input
            line-height: 28px
        .agreement
          margin-left: 75px
          .agreement-label
            display: inline
            width: auto
            text-align: left
            float: none
            cursor: pointer
            color: #000
            font-size: 12px
        .btn-submit
          font-size: 14px
          padding: 6px 26px
          font-weight: bold
          border-radius: 3px
        .disabled
          color: #999
          background: #f0f0f0
          border: 1px solid #ccc
      .item-error
        height: 29px
        margin-left: 75px
        color: #fe2617
      .item-submit
        margin: 0
      .catcha-item
        font-size: 0
        .basic-input
          width: 95px
          height: 19px
        .phone-code-btn
          cursor: pointer
          background: #fff
          border: 1px solid #c9c9c9
          font-size: 13px
          padding: 6px 15px
          border-radius: 3px
          vertical-align: middle
      .suggestion
        padding-left: 75px
        .tips
          color: #808080
          font-size: 12px
  .aside
    float: right
    width: 310px
    color: #666
    li
      display: block
      padding-bottom: 1em
      a:hover
        background-color: #039
